.content {
  background-color: white;
}
.content__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.content__title {
  align-self: center;
  margin: 50px 0 100px 0;
  max-width: 780px;
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
