.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 30%;
  background-color: rgb(63, 60, 60);
  color: white;
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

.footer__title {
  margin-bottom: 15px;
  font-size: 20px;
}
