.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  /* background-image: url("../images/background_paws_transparent.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -80px; */
  /* padding: 0 20px; */
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  max-width: 400px;
}

.form__label {
  margin-bottom: 5px;
  color: #000;
}

.form__input {
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  min-height: 30px;
  color: #000;
}

.form__submit {
  width: 100%;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  color: #000;
  cursor: pointer;
}

.form__submit_disabled {
  background-color: transparent;
  border: 1px solid gray;
  color: gray;
}

.form__input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.form__error_visible {
  position: absolute;
  top: 43px;
  color: red;
  font-size: 12px;
  line-height: 14px;
  display: block;
}
