.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  visibility: hidden;
  display: flex;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  z-index: 2;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  min-width: 430px;
  transition: 0.5s linear;
}

.modal__title {
  color: #000;
  margin-bottom: 20px;
}

.modal__close {
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  background-color: transparent;
  height: 20px;
  width: 20px;
  top: -25px;
  right: -25px;
  transition: 0.3s linear;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}
