@import url(../blocks/logo.css);
@import url(../blocks/nav.css);
@import url(../blocks/header.css);
@import url(..blocks/footer.css);
@import url(..blocks/page.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

